*{margin:0; padding:0;}
ul{list-style:none; 
position:fixed;
bottom:50px;
right:50px;
text-align:center;}
ul li{
    margin: 10px;
}
ul li a{
    display: inline-block;
    padding:20px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.seiva_btn li a{
    background: #021230;
}
.waves_btn li a{
    background: #021230;
}
a{text-decoration:none; color:#fff;}
img{width:100%; display: block;}
